<div class="user-container shadow p-3 mb-5 bg-dark rounded-lg pt-5 blog">
  <div class="row">
    <div class="col">
        <div class="wrapper">
        <a class="btn btn-outline-light px-4 my-3 mx-4" href="/bid">PLACE A BID</a>
        <a class="btn btn-outline-light px-4 my-3 mx-4" href="/">BETS DASHBOARD</a>
        </div>
    </div>
<div class="container">
  <div class="row">
    <div class="col">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Username">
          </div>
          <button type="submit" class="btn btn-primary">Create User</button>
        </div>
      </form>
    </div>
  </div>
</div>



    {{!-- <div class="col-md-12 blog-container bg-dark rounded-lg pt-5" id="blogBox">
      {{#each posts}}
        <div class="panel panel-default" data-post="{{id}}">
          <div class="panel-heading">
            <button class="delete btn btn-outline-light px-4 my-3 mx-4">x</button>

            <button class="edit btn btn-outline-light px-4 my-3 mx-4">EDIT</button>
            <h2>{{title}}</h2>
              <small>{{createdAt}}</small>
            </h2>
            <h5 style="float: right; color: blue; margin-top: -10px;">Written by: {{User.name}} </h5>
          </div>
          <div class="panel-body">
            <p>{{body}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div> --}}


{{#section 'scripts'}}
<script src="/js/userFunction.js"></script>
{{/section}}
